.btn {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    width: 117px;
    height: 55px;
    background: #FFFFFF;



    border: 2px solid #2E5984;
    border-radius: 25px;
}