.parent {
 max-height: 100vh;
}

.main {
    padding: 0px 60px 0px 60px;
    margin-top: 30px;
}

.headText {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin-left: 10px;

}

.accSettings {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 20px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.input{
    background: #C4C4C4;
    /*margin-bottom: 10px;*/
    width: 300px;
    /*margin-top: 5px;*/
    /*display: block;*/
}

.btn1{
    width: 141px;
    height: 41px;
    background: #0075FF;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.btn2{
    width: 141px;
    height: 41px;
    background: #C4C4C4;
    border-radius: 10px;
    cursor: pointer;
}

.title {
    height: 2px;
}