.main {
    padding: 20px;
}

.headText {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

}

.mainText {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
}

.imgBlock {
    height: 283px;
    background: #C4C4C4;
    width: 30%;
}

.desc {
    width: 70%;
    margin-left: 20px;
}

