.main {
    padding: 20px;
}

.headText {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 10px;

}

.mainText {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
}

.btn {
    width: 185px;
    height: 47px;
    background: #FAB536;
    border: 1px solid #000000;
    cursor: pointer;

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-left: 10px;


    color: #000000;
}

.about {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 20px;


    color: #2E5984;
}

.imgBlock {
    height: 283px;
    width: 30%;
}

.desc {
    width: 70%;
    /*margin-left: 20px;*/
    /*margin-top: 40px;*/
    padding: 10px;
    font-style: normal;
    /*font-weight: 600;*/
    font-size: 25px;
    line-height: 29px;
}

.textArea {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}

