

.main {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    height: 100vh;




}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.first_text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-left: 40px;
}


.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.question{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.answerBlock {

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px;

}

.answers {
    width: 285px;
    height: 56px;
    background: #C4C4C4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButton {

    width: 150px;
    height: 56px;
    background: #C4C4C4;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;

}