

.main {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('/background.svg');
    background-repeat: no-repeat;
    background-size: cover;




}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.first_text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-left: 40px;
}


.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.question{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

 padding: 10px;

    background: #FFFFFF;
    border: 3px solid #2E5984;
    border-radius: 25px;
}

.answerBlock {

    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-column-gap: 20px;
    align-items: center;
    justify-content: center;

}

.answers {
    width: 285px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;

}

.submitButton {

    width: 169px;
    height: 56px;


    background: #FAB536;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    cursor: pointer;

}

.task{
    width: 357px;
    min-height: 134px;
   padding: 10px;

    background: #FFFFFF;
    border: 3px solid #2E5984;
    border-radius: 25px;
}